<%= form_for tour_request do |f| %>

  <% if tour_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_request.errors.count, "error") %> prohibited this tour request from being saved:</h2>

      <ul>
      <% tour_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "Submit" %>
<% end %>
