<h1>Your Tour Request</h1>

<% if @step_one %>
  <p>We need some information to get started.</p>
  <%= render partial: 'personal_details_form', locals: { tour_request: @tour_request} %>
<% elsif @step_two %>
  <p>Just a few more pieces of information and we can confirm your tour date.</p>
  <%= render partial: 'additional_details_form', locals: { tour_request: @tour_request, amenities: @amenities} %>
<% else %>
  <p><%= @tour_request.email %></p>
  <p><%= @tour_request.first_name %></p>
  <p><%= @tour_request.last_name %></p>
  <p><%= @tour_request.phone %></p>
  <p><%= @tour_request.requested_tour_date.strftime("%R") %></p>
  <p><%= @tour_request.amenities.collect{|a| a.name }.join(', ') %></p>
<% end %>
